
html {
	font-size: 62.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

nav {
	margin: 2rem;
}

ul {
	display: flex;
	flex-direction: row;
	height: 4rem;
	padding: 1rem;
}

li {
	flex: 1 0 50%;
	font-size: 3rem;
}

li a {
	text-decoration: none;
}

section {
	justify-content: center;
	text-align: center;
}

.opening h1 {
	margin-top: 2rem;
	font-size: 4rem;
}
section p {
	width: 50rem;
	font-size: 2rem;
	margin: 1rem auto;
}

button {
	padding: 3rem;
	font-size: 2rem;
	border-radius: 3rem;
	width: 20rem;
	height: 4rem;
	margin: 1rem;
	padding: 0px;
	text-align: center;
    
}

button:hover {
	background-color: rgb(255, 255, 255);
	border-color: rgb(214, 204, 11);
}

h2 {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.high-score {
	text-align: start;
}

.timer {
	text-align: end;
}

.opening {
	display: block;
}

.quiz {
	/* display: none;  blocks out quiz for the start screen*/
	margin: 0 auto;
	max-width: 40rem;
}

.startBtn {
	text-align: center;
}

/* link elements by ID */

.sectionEl {
	display: block;
}

.h1El {
	margin: 0 auto;
	font-size: 2.5rem;
	text-align: center;
}

.h2El {
	margin: 1rem 0;
	font-size: 1.5rem;
	text-align: center;
}

.labelEl {
	margin: 0 auto;
	text-align: center;
	font-size: 1.5rem;
}

.inputEl {
	padding: .6rem;
}

.sectionEl .buttonEl {
	padding: 0;
	font-size: 1.7rem;
	width: 5rem;
	height: 3rem;
	text-align: center;
	margin-left: 1rem;
}